# Exported from Render on 2025-12-14T22:04:53Z
version: "1"
services:
- type: web
  name: stitchflow-backend
  runtime: node
  repo: https://github.com/witviggy/kaibysobana
  plan: free
  envVars:
  - key: FRONTEND_URL
    sync: false
  - key: BACKEND_URL
    sync: false
  - key: SUPABASE_SERVICE_KEY
    sync: false
  - key: SUPABASE_URL
    sync: false
  - key: GOOGLE_CLIENT_SECRET
    sync: false
  - key: GOOGLE_CLIENT_ID
    sync: false
  - key: SESSION_SECRET
    sync: false
  - key: DATABASE_URL
    sync: false
  - key: NODE_ENV
    sync: false
  region: singapore
  buildCommand: npm install
  startCommand: node server.js
  healthCheckPath: /api/dashboard/stats
  autoDeployTrigger: commit
  rootDir: backend
